<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1>Preguntas</h1>
        <ul class="collection">
            <li class="collection-item">¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?</li>
                <p>Es más fácil encontrar y corregir errores en caso de que los haya</p>
            <li class="collection-item">¿Qué es SQL injection y cómo se puede prevenir?</li>
               <p>Es cuando alguien utiliza sql para manipular nuestra bases de datos, esto se puede prevenir utilizando signos de interrogación cuando pasemos los datos en nuestras queries.</p>
        </ul>
    </body>

</html>