<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1>Preguntas</h1>
        <ul class="collection">
            <li class="collection-item">¿Qué otros métodos de autetificación existen?/p>
            <ol>
                <li>Autentificación multifactorial (MFA)</li>
                <li>Código PIN / Patrón</li>
                <li>Touch ID / huellas digitales</li>
                <li>Face ID / Reconocimiento Facial></li>
            </ol>
        </ul>
    </body>

</html>