<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1>Preguntas</h1>
        <ul class="collection">
            <li class="collection-item">¿Qué beneficios encuentras en el estilo MVC?</li>
                <ol>
                    <li>Facilita agregar nuevos tipos de datos.</li>
                    <li>Independencia de funcionamiento.</li>
                    <li>Facilita el mantenimiento de errores.</li>
                    <li>Permite el escalamiento.</li>
                </ol>
            <li class="collection-item">>¿Qué desventajas encuentras en el estilo MVC?</li>
                <ol>
                    <li>Agrega complejidad al sistema.</li>
                    <li>La cantidad de archivos aumenta.</li>
                    
                </ol>
        </ul>
    </body>

</html>