<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1 class = "m-3">¿Qué beneficios encuentras en el estilo MVC?</h1>
        <ol class = "m-3">
            <li>Simplifica agregar múltiples representaciones de los mismos datos.</li>
            <li>Facilita agregar nuevos tipos de datos.</li>
            <li>Crea independencia de funcionamiento.</li>
            <li>En caso de errores, el mantenimiento es más fácil.</li>
            <li>Permite escalamkento de la aplicación.</li>
        </ol>
        <h1 class = "m-3">¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h1>
        <ol class = "m-3">
            <li>Agrega complejidad al sistema.</li>
            <li>Mayor cantidad de archivos.</li>
        </ol>
        <p>Fuente: http://catarina.udlap.mx/u_dl_a/tales/documentos/lis/rivera_l_a/capitulo2.pdf </p>
        
    </body>