<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1 class = "m-3">¿Que otros templating engines existen?</h1>
        <ol class = "m-3">
            <li>Pug</li>
            <li>Handlebars</li>
            <li>Haml.js</li>
            <li>combyne.js</li>
            <li>Nunjucks</li>
            <li>marko</li>
        </ol>
    </body>