<html>
    <%- include('../partials/head.ejs') %>
    <body>
        <h1>Validaci칩n de contrase침a</h1>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Contrase침a</span>
            </div>
            <input id = "pass1" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Confirmar contrase침a</span>
            </div>
            <input id = "pass2" type="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <button id = "boton" type="button" class="btn btn-primary">Siguiente</button>
        <p id = "resultado"></p>

        <script src = /js/appValidacion.js></script>
    </body>
</html>