    header{
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 30px;
    }

    nav{
        width: 100%;
        height: 60px;
        text-align: center;
        font-size: 25px;
        font-style: italic;
    }

    .preguntasContenedor{
       border: solid 10px orange;
       border-radius: 5px;
       padding: 1rem;
       margin: 1rem;
       
    }

    p{
        font-size: 20;
        font-weight: bold;
    }

    .respuestasContenedor{
        border: solid 10px orange;
        border-radius: 5px;
        padding: 1rem;
        margin: 1rem;
        
    }

    body{
        font-family: Helvetica, sans-serif;
    }

    .preguntas{
        font-size: 20px;
        
    }

    li{
        padding: 0.5rem;
    }